{
    "plugins": [
        "@babel/plugin-transform-runtime",
        "babel-plugin-parameter-decorator",
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ]
    ]
}